<form ng-app="Coffee-time" ng-submit="calcular()">
<div class="container">
	<div class="row">
		<div class="panel">
			<div class="form-group">
				<label for="DiaInicio">Dia Inicio: </label>
				<input type="date" class="form-control input-lg" ng-model="Beneficio.DiaInicio" id="DiaInicio" required>
				<label for="DiaFin">Dia Fin: </label>
				<input type="date" class="form-control input-lg" ng-model="Beneficio.DiaFin" id="DiaFin" required>
			</div>
			<div class="form-group">
				<label for="Cantidad">Cantidad Repartir: </label>
				<input type="number" class="form-control input-lg" ng-model="Beneficio.Cantidad" id="Cantidad" required>
			</div>
			<button type ="submit" class="btn btn-lg btn-block btn-danger" >Calcular</button>
		</div>
	</div>
</div>
</form>
<div class="container">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<table class="table table-resposive">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Gastado</th>
						<th>Porcentaje</th>
						<th>Dinero Devolucion</th>
					</tr>
				</thead>
				<tbody  ng-repeat="(key, value) in lista">
					<tr>
						<td>{{key}}</td>
						<td>{{value["Gastado"] | number : 2}}</td>
						<td>{{value["Porcen"] | number : 2 }}</td>
						<td>{{value["Devolver"] | number : 2}}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
		
		


