<div class="container">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
			<table class="table table-resposive">
			
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Bebida</th>
					<th>Comida</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody  ng-repeat="persona in personasBajan track by $index">
				<tr ng-class="{info: $index==index}">
					<td> {{persona.nombre}}</td>
					<td> {{persona.gastos[persona.gastos.length -1].consumicion.nombre}}</td>
					<td> {{persona.gastos[persona.gastos.length -1].consumicion2.nombre}}</td>
					<td> {{persona.gastos[persona.gastos.length -1].consumicion.precio + persona.gastos[persona.gastos.length -1].consumicion2.precio}}</td>
					<td ng-if= "$index === index && currentUser && currentUser._id === persona._id && !PagadoYa">
						<input type="number"  min="0" step="any" class="input-xs" ng-model="Pago.cantidad" id="Pago.cantidad">
						<button ng-click="sendPago(Pago.cantidad)">Pagar</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="warning">
					<td> TOTAL </td>
					<td></td>
					<td></td>
					<td> {{total | number : 2}}</td>
				</tr>
			</tfoot>
			</table>
			<div class="row">
				<button class="btn btn-default" ng-if="currentUser" ng-click="Invitar()">Invitar</button>
			</div>
			</div>
			
			<div class="panel-body">
			<table class="table table-resposive">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody  ng-repeat="(key, value) in listaHoy">
				<tr>
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
			</tbody>
			</table>
			</div>
			
			<div class="panel-body">
			<table class="table table-resposive">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Balance</th>
					<th>Bajado</th>
					<th>Pagado</th>
					<th>Porcentaje</th>
				</tr>
			</thead>
			<tbody  ng-repeat="persona in personas track by $index">
				<tr >
					<td ng-class="{danger: persona.balance < 0}"> {{persona.nombre}}</td>
					<td ng-class="{danger: persona.balance < 0}"> {{persona.balance | number : 2}}</td>
					<td> {{persona.nBajadas}}</td>
					<td> {{persona.NPagado}}</td>
					<td> {{(persona.NPagado / persona.nBajadas) * 100 | number : 2 || 0}}
				</tr>
			</tbody>
			</table>
			</div>
			<div class="panel-body">
			<label>Bote: </label> {{Bote.bote | number : 2}}				
				<label>Bote Real: </label> {{Bote.boteReal | number : 2}}
			</div>
		</div>
	</div>
</div>		