<div class="container">
	<div class="row">
		<div class="center-form panel">
			<div class="panel-body">
				<h2 class="text-center">Nuevo Ingreso €€€</h2>

				<form ng-app="Coffee-time" ng-submit="nuevoingreso()">
					<div class="form-group">
						<label for="Cantidad">Cantidad</label>
						<input type="text" class="form-control input-lg" ng-model="Ingreso.Cantidad" id="Cantidad" required>
						</select>
					</div>
					<button type ="submit" class="btn btn-lg btn-block btn-success">Ingresar</button>
				</form>
				
			</div>
		</div>
	</div>
</div>