<div class="container">
	<div class="row">
		<div class="center-form panel">
			<div class="panel-body">
				<h2 class="text-center">Nuevo Gasto</h2>
				<form ng-app="Coffee-time" ng-submit="send()">
					<div class="form-group">
						<label for="Tipo">Tipo</label>
						<select ng-model="combo" class="form-control input-lg" ng-change="getConsu(2)">
							<option ng-selected="true">Solo Bebida</option>
							<option>Desayuno</option>
						</select>
					</div>
					<div class="form-group">
						<label for="Tipo">Tipo</label>
						<select ng-model="tipo" class="form-control input-lg" ng-change="getConsu(1)">
							<option ng-selected="true">Bebida</option>
							<option>Comida</option>
						</select>
					</div>
					<div class="form-group">
						<label for="Consumicion">Consumición</label>
						<select required class="form-control input-lg" ng-options="(dat.nombre + ' ' + dat.precio + '€') for dat in dataConsu1 track by dat.nombre" ng-model="Consumicion">
						</select>
					</div>
					<div class="form-group"  ng-show="combo =='Desayuno'">
						<label for="Tipo">Tipo</label>
						<select ng-model="tipo2" class="form-control input-lg" ng-change="getConsu(2)">
							<option >Bebida</option>
							<option ng-selected="true">Comida</option>
						</select>
					</div>
					<div class="form-group" ng-show="combo =='Desayuno'">
						<label for="Consumicion2">Consumición</label>
						<select  class="form-control input-lg" ng-options="(dat2.nombre + ' ' + dat2.precio + '€') for dat2 in dataConsu2 track by dat2.nombre" ng-model="Consumicion2">
						</select>
					</div>
					<button ng-show="modo =='Alta'" type ="submit" class="btn btn-lg btn-block btn-success">Crear</button>
					<button ng-show="modo =='Modificacion'" type ="submit" class="btn btn-lg btn-block btn-success">Modificar</button>
				</form>
			</div>
		</div>
	</div>
</div>