<div class="container">
	<div class="row">
		<div class="center-form panel">
			<div class="panel-body">
				<h2 class="text-center">Nueva Consumicion</h2>

				<form ng-app="Coffee-time" ng-submit="nuevaGasto()">
					<div class="form-group">
						<label for="Tipo">Tipo</label>
						<select ng-model="tipo" class="form-control input-lg">
							<option ng-selected="true">Bebida</option>
							<option>Comida</option>
						</select>
					</div>
					<div class="form-group">
						<label for="Consumicion">Tipo</label>
						<select ng-model="Gasto.Consumicion" class="form-control input-lg">
							<option>Bebida</option>
							<option>Comida</option>
						</select>
					</div>

					<div class="form-group">
						<label for="Precio">Precio</label>
						<input type="number" class="form-control input-lg" ng-model="Consumicion.precio" id="Precio" required>
					</div>
					<button type ="submit" class="btn btn-lg btn-block btn-success" ng-click("alert('funciono');">Crear</button>
				</form>
				
			</div>
		</div>
	</div>
</div>